//
   Created by tusharmathur on 7/7/15.
doctype html
html(lang='en')
    head
        title Solutions with truth
        link(rel="stylesheet" type="text/css" href="/public/less/main.css")
    body(ng-app="pay-pal")
        .container-fluid
            h1 Address Book
            .panel.panel-default
                .panel-heading
                    .row
                        .col-sm-6
                            .panel-title
                                strong All Contacts
                                a.pull-right.btn.btn-default.btn-sm Create
                        .col-sm-6
                            a.btn.pull-right.btn-warning.btn-sm Edit
                .panel-body
                    .row
                        .col-sm-6
                            contact-search
                        .col-sm-6
                            div
                                h3 John Applessed
                            div
                                div
                                    small.text-info mobile
                                div (888) 555-5512
                            hr
                            div
                                div
                                    small.text-info work
                                div (888) 555-5512

                            hr
                            div
                                div
                                    small.text-info email
                                div tusharmath@gmail.com

                            hr
                            div
                                div
                                    small.text-info address
                                div 156-2/X Civil Lines Ajmer
        script(src="/public/scripts/app.js")