* {
    box-sizing: border-box;
}

body, html {
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "HelveticaNeue-Medium", "Helvetica Neue Medium", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.container {
    background-color: #fff;
    width: 80%;
    margin: 20px auto auto;
    padding: 40px;
    box-shadow: 4px 4px 4px #ccc;
}

.button {
    text-align: center;
    color: #FFF;
    box-shadow: 2px 4px 4px #aaa;
    cursor: pointer;
    border: none;
    padding: 6px 18px;
    border-radius: 4px;
    text-transform: uppercase;
    display: inline-block;
    margin-top: 10px;
}

.button-danger {
    background-color: #E00;
}

.button-warning {
    background-color: #0E0;
}

.button-primary {
    background-color: #55E;
}

.text-muted {
    color: #aaa;
}

.pull-right {
    float: right;
}

hr {
    border: 1px solid #eee;
    margin-top: 10px;
    margin-bottom: 40px;
}

.lead {
    font-size: 1.2em;
    color: #88B;
}

input {
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: dotted;
    font-size: 20px;
    margin-right: 10px;
    margin-top: 10px;
    color: #88b;
    width: 100%;
}

input:focus {
    outline: none;
}