//
   Created by tusharmathur on 7/8/15.

div
    h3.text-capitalize {{contact.first_name}} {{contact.last_name}}
div
    div
        small.text-info mobile
    div {{contact.mobile}}
hr
div
    div
        small.text-info work
    div {{contact.work}}
hr
div
    div
        small.text-info email
    div {{contact.email}}
hr
div
    div
        small.text-info address
    div {{contact.address}}