//
   Created by tusharmathur on 7/8/15.
form
    .form-group
        small.text-info first name
        input.form-control(ng-model="contact.first_name" type="text" placeholder="first name")
    .form-group
        small.text-info last name
        input.form-control(ng-model="contact.last_name" type="text" placeholder="last name")
    .form-group
        small.text-info mobile
        input.form-control(ng-model="contact.mobile" type="text" placeholder="mobile")
    .form-group
        small.text-info work
        input.form-control(ng-model="contact.work" type="text" placeholder="work")
    .form-group
        small.text-info email
        input.form-control(ng-model="contact.email" type="text" placeholder="email")
    .form-group
        small.text-info address
        input.form-control(ng-model="contact.address" type="text" placeholder="address")
