//
   Created by tusharmathur on 7/8/15.
form
    .form-group
        input.form-control(ng-model="newContact.first_name" type="text" placeholder="first name")
    .form-group
        input.form-control(ng-model="newContact.last_name" type="text" placeholder="last name")
    .form-group
        input.form-control(ng-model="newContact.mobile" type="text" placeholder="mobile")
    .form-group
        input.form-control(ng-model="newContact.work" type="text" placeholder="work")
    .form-group
        input.form-control(ng-model="newContact.email" type="text" placeholder="email")
    .form-group
        input.form-control(ng-model="newContact.address" type="text" placeholder="address")
