//
   Created by tusharmathur on 7/8/15.
form
    .form-group
        small.text-info first name
        input.form-control(ng-model="newContact.first_name" type="text" )
    .form-group
        small.text-info last name
        input.form-control(ng-model="newContact.last_name" type="text")
    .form-group
        small.text-info mobile
        input.form-control(ng-model="newContact.mobile" type="text" )
    .form-group
        small.text-info work
        input.form-control(ng-model="newContact.work" type="text" )
    .form-group
        small.text-info email
        input.form-control(ng-model="newContact.email" type="text" )
    .form-group
        small.text-info address
        input.form-control(ng-model="newContact.address" type="text" )
